<p-toolbar
  [style]="{
    border: 'none',
    'border-radius': 0,
    padding: '1rem 1rem 1rem 1.5rem',
  }"
>
  <ng-template #start>
    <div class="flex items-center gap-2">
      <h1 class="text-xl font-thin cursor-pointer" [routerLink]="['/home']">
        <p class="font-bold">Timeless</p>
      </h1>
    </div>
  </ng-template>

  <ng-template #end>
    <p-button
      label="Sair"
      icon="pi pi-sign-out"
      severity="secondary"
      (click)="onLogout()"
    />
  </ng-template>
</p-toolbar>
<p-menubar
  [model]="items"
  [style]="{
    border: 'none',
    'border-radius': 0,
    padding: '1rem 1rem 1rem 1rem',
  }"
/>

<main class="flex flex-col justify-center w-12/12 h-full p-8">
  <router-outlet></router-outlet>
</main>
