<form
  [formGroup]="form"
  (ngSubmit)="update()"
  class="flex flex-col items-center p-4 md:p-8 w-full"
>
  <p-card header="Dados pessoais" class="w-full max-w-xl">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col w-full">
          <label for="firstName">First name</label>
          <input
            pInputText
            pSize="small"
            id="firstName"
            formControlName="firstName"
            class="w-full"
          />
        </div>

        <div class="flex flex-col w-full">
          <label for="lastName">Last name</label>
          <input
            pInputText
            pSize="small"
            [disabled]="true"
            id="lastName"
            formControlName="lastName"
            class="w-full"
          />
        </div>
      </div>

      <div class="flex flex-col">
        <label for="email">Email</label>
        <input
          pInputText
          pSize="small"
          [disabled]="true"
          id="email"
          formControlName="email"
          class="w-full"
        />
      </div>

      <div class="flex flex-col md:flex-row gap-4">
        <div class="flex flex-col w-full">
          <label for="password">Password</label>
          <input
            pInputText
            pSize="small"
            [disabled]="true"
            id="password"
            type="password"
            value="******"
            class="w-full"
          />
        </div>

        <div class="flex flex-col w-full">
          <label for="phoneNumber">Phone number</label>
          <p-inputmask
            mask="+55 (99) 99999-9999"
            size="small"
            placeholder="+55 (99) 99999-9999"
            formControlName="phoneNumber"
            class="w-full"
          />
        </div>
      </div>
    </div>

    <ng-template #footer>
      <p-button
        severity="contrast"
        icon="pi pi-save"
        size="small"
        iconPos="left"
        class="w-full"
        type="submit"
        label="Salvar"
      />
    </ng-template>
  </p-card>
</form>

<p-toast position="bottom-right" key="toast"></p-toast>
